:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

html, body {
    font-size: 16px;
}
.header {
    width: 100%;
}

.header__container {
    width: 84.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-primary);
    margin-right: auto;

}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

.menu-item {
    margin-left: 1.25rem;
}


.menu-item__link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    color: var(--color-grey);
    letter-spacing: 0.205rem;
    text-transform: uppercase;
}

.menu-item__link:hover {
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
}






